<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's edit invoice page.
Citation: All code in this file without citation is original.
-->

<h1>Edit Employee</h1>
{{#if employee}}
<div>
  {{! UPDATE form }}
  <form method='POST' action="/employee/update">
    <input type="hidden" name="update_id_employee" id="update_id_employee" value="{{employee.id_employee}}">
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Date of Birth</th>
          <th>Phone Number</th>
          <th>Email Address</th>
          <th>Location ID</th>
          <th colspan="2" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="interactive_cell">
            <input type="text" name="update_first_name" id="update_first_name" value="{{employee.first_name}}" required/>
          </td>
          <td class="interactive_cell">
            <input type="text" name="update_last_name" id="update_last_name" value="{{employee.last_name}}" required/>
          </td>
          <td class="interactive_cell">
            <input type="date" name="update_date_of_birth" id="update_date_of_birth" value="{{date_of_birth}}" class="date_input" required/>
          </td>
          <td class="interactive_cell">
            <input type="tel" name="update_phone_number" id="update_phone_number" pattern="\(\d{3}\) \d{3}-\d{4}|\d{10}" value="{{employee.phone_number}}" required/>
          </td>
          <td class="interactive_cell">
            <input type="email" name="update_email_address" id="update_email_address" value="{{employee.email_address}}" required/>
          </td>
          <td class="interactive_cell">
            <select name="update_id_location" id="update_id_location" required>
              <option value="{{employee.id_location}}" selected hidden>{{employee.id_location}} - {{employee.name_location}}</option>
              {{#each locations}}
              <option value="{{this.id_location}}">{{this.id_location}} - {{this.name}}</option>
              {{/each}}
            </select>
          </td>
          <td class="interactive_cell">
            <button type="submit">Confirm</button>
          </td>
          <td class="interactive_cell">
            <button type="button" onclick="window.location.href='/employees'">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{{else}}
<p>No such employee existed.</p>
{{/if}}
