<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's edit invoice page.
Citation: All code in this file without citation is original.
-->

<h1>Edit Invoice</h1>
<div>
  {{! UPDATE form }}
  <form>
    <label for="update_id_customer">id_customer:</label>
    <select name="update_id_customer" id="update_id_customer" required>
      <option value="NULL" disabled selected>Select a customer ID</option>
      {{#each customers}}
      <option value="{{this.id_customer}}">{{this.id_customer}} - {{this.first_name}} {{this.last_name}}</option>
      {{/each}}
    </select>
    <label for="update_id_employee">id_employee:</label>
    <select name="update_id_employee" id="update_id_employee" required>
      <option value="NULL" disabled selected>Select a employee ID</option>
      {{#each employees}}
      <option value="{{this.id_employee}}">{{this.id_employee}} - {{this.first_name}} {{this.last_name}}</option>
      {{/each}}
    </select>
    <label for="update_date">date:</label>
    <input type="datetime-local" name="update_date" id="update_date" required/>
    <button type="submit">Confirm</button>
  </form>
</div>
