<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's delete location page.
Citation: All code in this file without citation is original.
-->

<h1>Delete Location</h1>
{{#if location}}
<div>
  {{! DELETE form }}
  <form method='POST' action="/location/delete">
    <input type="hidden" name="delete_id_location" id="delete_id_location" value="{{location.id_location}}">
    <table id="table_delete_location">
      <thead>
        <tr>
          <th>Location ID</th>
          <th>Name</th>
          <th>Address</th>
          <th colspan="2" style="text-align: center;">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{location.id_location}}</td>
          <td>{{location.name}}</td>
          <td>{{location.address}}</td>
          <td class="interactive_cell">
            <button type="submit">Confirm</button>
          </td>
          <td class="interactive_cell">
            <button type="button" onclick="window.location.href='/locations'">Cancel</a>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>
{{else}}
<p>No such location existed.</p>
{{/if}}
