<!--
Project Name: Old Mike’s Car Full-Service Transaction Management System
Project Group: 45
Group Members: Lei Feng, Marina Moger
Description: The project's invoices page.
Citation: All code in this file without citation is original.
-->

<script src="../invoices.js"></script>
<h1>Invoices</h1>
<div>
  <table id="table_invoices">
    <thead>
      {{! For the table header row, we print the DB attribute names }}
      <tr>
        <th>Invoice ID</th>
        <th>Customer ID</th>
        <th>Customer</th>
        <th>Employee ID</th>
        <th>Employee</th>
        <th>Location ID</th>
        <th>Location</th>
        <th>Date</th>
        <th>Total</th>
        <th colspan="2" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      {{! For each row, print the id_location, name, and address }}
      {{#each invoices}}
      <tr>
        <td>{{this.id_invoice}}</td>
        <td>{{this.id_customer}}</td>
        <td>{{this.name_customer}}</td>
        <td>{{this.id_employee}}</td>
        <td>{{this.name_employee}}</td>
        <td>{{this.id_location}}</td>
        <td>{{this.name_location}}</td>
        <td>{{this.date}}</td>
        <td>{{this.total}}</td>
        <td class="interactive_cell">
          <button type="button" onclick="window.location.href='/edit_invoice?id={{this.id_invoice}}'">Edit</button>
        </td>
        <td class="interactive_cell">
          <button type="button" onclick="window.location.href='/delete_invoice?id={{this.id_invoice}}'">Delete</button>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="9"></td>
        <td colspan="2" style="text-align: center;" class="interactive_cell">
          <button type="button" onclick="window.location.href='/add_invoice'">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<h1>Invoice Details</h1>
<div>
  <table id="table_invoices_services">
    <thead>
      {{! For the table header row, we print the DB attribute names }}
      <tr>
        <th>Invoice Detail ID</th>
        <th>Invoice ID</th>
        <th>Service ID</th>
        <th>Service</th>
        <th>List Price</th>
        <th>Sale Price</th>
        <th colspan="2" style="text-align: center;">Action</th>
      </tr>
    </thead>
    <tbody>
      {{! For each row, print the id_location, name, and address }}
      {{#each invoices_services}}
      <tr>
        <td>{{this.id_invoice_service}}</td>
        <td>{{this.id_invoice}}</td>
        <td>{{this.id_service}}</td>
        <td>{{this.name_service}}</td>
        <td>{{this.list_price}}</td>
        <td>{{this.sale_price}}</td>
        <td class="interactive_cell">
          <button type="button" onclick="window.location.href='/edit_invoice_service?id={{this.id_invoice_service}}'">Edit</button>
        </td>
        <td class="interactive_cell">
          <button type="button" onclick="window.location.href='/delete_invoice_service?id={{this.id_invoice_service}}'">Delete</button>
        </td>
      </tr>
      {{/each}}
      <tr>
        <td colspan="6"></td>
        <td colspan="2" style="text-align: center;" class="interactive_cell">
          <button type="button" onclick="window.location.href='/add_invoice_service'">Add</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
